version: "3.3"
services:
  admin_panel:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_simple_apm
    restart: always
    ports:
      - "8000:8000"
    environment:
      - NEW_RELIC_CONFIG_FILE=/code/newrelic.ini
    volumes:
      - type: bind
        source: .
        target: /code
    networks:
      - host
      
networks:
  app-network:
    external: true
